.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  margin-top: 1rem;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box {
  margin-top: 30px;
  padding: 20px;
  width: 80%;
  height: 400px;
  overflow-y: scroll;
}
.pre-out {
  background-color: #e1e1e1;
}
footer {
  margin-top: 1rem;
  text-align: center;
}
